name: Compile and Release Plugin

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Go environment
      uses: actions/setup-go@v4
      with:
        go-version: "1.20"
        cache: false

    - name: Compile Plugin
      run: |
        go build -trimpath -o check.so -buildmode=plugin main.go

    - name: Create Release
      id: create_release
      uses: ncipollo/release-action@v1.13.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag: ${{ github.ref_name }}
        name: Release ${{ github.ref_name }}
        draft: false
        prerelease: false
        artifacts: check.so
